name: CanaryTest
##
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'debug'
      tags:
        description: 'Test scenario tags'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      # name: Configure AWS Credentials ECR
      #  uses: aws-actions/configure-aws-credentials@v1
      #  if: ${{ always() }}
      #  with:
      #    aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #    aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #    aws-region: us-west-2

      # name: ECR Login
      #  uses: aws-actions/amazon-ecr-login@v1
      #  with:
      #    registries: ${{ secrets.REGISTRY_ACCOUNT_ID }}

      # name: Docker Pull
      #  run: |
      #    docker pull ${{ secrets.ECR_URI }}
      #    docker image tag ${{ secrets.ECR_URI }} codeguru:latest

#       - name: Configure AWS Credentials CodeGuru
#         uses: aws-actions/configure-aws-credentials@v1
#         if: ${{ always() }}
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: us-west-2

