name: CanaryTest
##
on:
  push:
    branches: [ main ]

  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'debug'
      tags:
        description: 'Test scenario tags'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Configure AWS Credentials CodeGuru
        uses: aws-actions/configure-aws-credentials@v1
        if: ${{ always() }}
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: AWS CodeGuru Reviewer Scanner
        uses: aws-actions/codeguru-reviewer@v1.1
        if: ${{ always() }}
        with:
          build_path: target
          s3_bucket: codeguru-reviewer-test-cicd-bucket

      - name: Upload review result
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: codeguru-results.sarif.json

      # name: AWS CodeGuru Reviewer Scanner
      #  uses: ./.github/actions/action.yml
      #  if: ${{ always() }}
      #  with:
      #    source_path: .
      #    build_path: target
      #    s3_bucket: BUCKET_NAME_PLACEHOLDER
